@import '../../vars.scss';
.containerList{ 
 margin: 10px;
}
.containerMainInf{ 
 display: flex;
 justify-content: space-between;
}
.priceText, .carrierText{ 
 color:#2698f3;
 padding: 20px 30px;
 font-size: larger;
}
.carrierText{ 
 color: black
}
.containerSegments{ 
 width: 100%;
 padding: 0px;
 display: flex;
 flex-direction: column; 
}
.containerSegmentsItem{ 
 display: flex;
 justify-content: space-between;
}
// @media screen and (min-width: $screen-tablet) {
//   .containerList {
//   grid-template-columns: 1fr 1fr;
//   }
// }
// @media screen and (min-width: $screen-compucter) {
//   .containerList {
//    grid-template-columns: 1fr 1fr 1fr;
//   }
// }