.containerList{ 
 
}
.containerItem{ 
 height: 165px;
 margin-bottom: 10px;
 border: 1px solid rgb(209, 208, 208);
 border-radius: 10px;
 background-color: rgb(255, 255, 255);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.containerMainInf{ 
 display: flex;
 justify-content: space-between;
}
.priceText, .carrierText{ 
 color:#2698f3;
 padding: 20px 30px;
 font-size: larger;
}
.carrierText{ 
 color: black
}
.containerSegments{ 
 width: 100%;
 padding: 0px;
 display: flex;
 flex-direction: column; 
}
.containerSegmentsItem{ 
 display: flex;
 justify-content: space-between;
}